## Basic Column Operations

In [9]:
import pandas as pd
import numpy as np

### Read csv file and load data

In [18]:
df = pd.read_excel('Data/Excel_06_01.xlsx')

In [11]:
df

   ColA  ColB  ColC
0    10     5     5
1    56    23    45
2    78    67    48
3    32    98    49
4    12    22    26
5    10    42    79

### Add Col A, Col B and store result in column named Sum

In [12]:
df['Sum'] = df['ColA'] + df['ColB']

In [13]:
df

   ColA  ColB  ColC  Sum
0    10     5     5   15
1    56    23    45   79
2    78    67    48  145
3    32    98    49  130
4    12    22    26   34
5    10    42    79   52

### Subtraction

In [14]:
df['Sub'] = df['ColA'] - df['ColB']

In [15]:
df

   ColA  ColB  ColC  Sum  Sub
0    10     5     5   15    5
1    56    23    45   79   33
2    78    67    48  145   11
3    32    98    49  130  -66
4    12    22    26   34  -10
5    10    42    79   52  -32

### Multiplication

In [16]:
df['Mul'] = df['ColB'] * df['ColC']

In [17]:
df

   ColA  ColB  ColC  Sum  Sub   Mul
0    10     5     5   15    5    25
1    56    23    45   79   33  1035
2    78    67    48  145   11  3216
3    32    98    49  130  -66  4802
4    12    22    26   34  -10   572
5    10    42    79   52  -32  3318

### String operations

In [19]:
df = pd.read_excel('Data/Excel_06_02.xlsx')

In [20]:
df

  Str1 Str2
0    a    f
1    b    g
2    c    h
3    d    i
4    e    j

In [21]:
df['string_append'] = df['Str1'] + df['Str2']

In [22]:
df

  Str1 Str2 string_append
0    a    f            af
1    b    g            bg
2    c    h            ch
3    d    i            di
4    e    j            ej