In [1]:
import pandas as pd
import numpy as np

### Read csv file and load data

In [2]:
df = pd.read_csv('file0.csv')

In [3]:
df

   Unnamed: 0        Name  test1  test2  test3
0           0       Panda     68     84     78
1           1       Koala     74     56     88
2           2  Databricks     77     73     82
3           3    Database     78     69     87

### Find Unique values in a column.

In [4]:
df['Name'].unique()

array(['Panda', 'Koala', 'Databricks', 'Database'], dtype=object)

### Find number of unique values in a column.

In [5]:
df['Name'].nunique()

4

### Filtering using list of values. Here the records which has 'Koala','Databricks' will be returned

In [6]:
df1 = df[df['Name'].isin(['Koala','Databricks'])]

### Store filtered dataframe in a csv file

In [7]:
df1.to_csv('name.csv')

### Filter with multiple conditions

In [8]:
df[(df['test2'] > 56) & (df['test2'] < 70)]

   Unnamed: 0      Name  test1  test2  test3
3           3  Database     78     69     87